<h1>Grocery in your cart</h1>
<% if @groceries.present? -%>
	<table border="1">
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Price</th>
	    <th>Add To Cart</th>
	  </tr>

	  <% @groceries.each do |grocery| %>
	    <tr>
	      <td><%= grocery.name %></td>
	      <td><%= grocery.description %></td>
	      <td><%= grocery.price %></td>
              <td><%= link_to "Add To Cart" , add_to_cart_path(:grocery_id => grocery.id), :method => :post %></td>
	    <tr>
	   <% end %>
  	</table>
<% else -%>
	<p>No grocery item present now. Check back soon.</p>
<% end -%>
<div>
	<%= form_for @cart, :url => :checkout_path do |f| %>
		<%= f.text_field :customer_name, :placeholder => "Your Name"  %>
		<%= f.text_field :customer_email, :placeholder => "Your Email"  %>
		<%= f.submit "Checkout" %>
	<% end %>
</div>
