<!DOCTYPE html>
<html style="background-color: rgb(178, 187, 223);">
<head>
  <title>OnlineGroceryMart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, msg| -%>
    <div class="ad-notif-<%= type %> "><p><%= raw msg %></p></div>
  <% end -%>

  <div style="float: right;"><%= link_to "Home", root_path %>||<%= link_to "Create new grocery", create_grocery_path %>||<%= link_to "Cart", cart_path %></div>
<%= yield %>

</body>
</html>
